.lets-chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 100px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99; /* Ensure overlay appears behind the chat container */
}


.chat-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 400px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
}

.chat-header {
  background-color: #861673;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  max-width: 80%;
  padding: 8px 12px;
  border-radius: 15px;
}

.bot-message {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.user-message {
  background-color: #861673;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f1f0f0;
}

#user-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

#send-button {
  background-color: #861673;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
}