/* footer.css */

.home-footer{
    background-image: linear-gradient(135deg, #BEC7D5ff, #663530ff, #10051Eff, #20063Aff, #0C001Bff);  
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
  }
  
  footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container > p {
     font-size: 15px;
  }
  