.hero {
  background-color: dark-purple-2; /* Base background color for fallback */
  background-image: 
  linear-gradient(135deg, #BEC7D5ff, #663530ff, #10051Eff, #20063Aff, #0C001Bff);  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  color: white; /* Ensure text is visible */
}
h1 {
  padding-top: 7rem;
}
p {
  padding-top: 5rem;
}
.button-primary {
   margin-top: 3.5rem;
}
/*Styling the buttons on the hero section*/

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.button-primary, .button-donate {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button-primary {
  background-color: #4CAF50; /* Green background */
  color: white;
}

.button-donate {
  background-color: #FF5722; /* Orange background */
  color: white;
}

